/show-face-camera.html

/tmp/docker_test/videos/*
!/tmp/docker_test/videos/.gitkeep

!/.example.env
.env
credentials.json
/pi-obs-container/config/basic/profiles/CdaprodOBS/service.json.fb-bakpi-obs-container/config/basic/profiles/CdaprodOBS/streamEncoder.json.bak \
pi-obs-container/config/basic/scenes/Laptop_OBS_Scenes.json.bak \
pi-obs-container/config/logs/
